
.loader-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; 
    z-index: auto;
  }
  
  .loader-gif {
    width: 100px; 
  }
  